{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>CAMP page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width"> {%load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <style>
        .abc1 {
            background-image: url("{% static '2.jpeg' %}");

        }
    </style>
</head>

<body class="abc1">
    <div class="bg">

        <img class="logo" src="{% static 'iitblogo.jpeg' %}" alt="IITB logo"></img>
    </div>
    <div class="container" style="    background: white;    margin-top: 7px;">
        <div class="row text-center" style="     padding-bottom: 20px;   text-align: center;">

            <h3 class="heading1">Central Account Management Portal</h3>
            <h4>IIT BOMBAY Lightweight Directory Access Protocol (LDAP) System</h4>
        </div>
    </div>
    {% block content1 %} {% endblock %}
     
    {% if user.is_authenticated %} 
    {% block content %} {% endblock %}
    {% endif %}
    {% if  not authorized_Access and not user.is_authenticated %} 
    <h1 style="color:white; margin: 148px 0px 0px 0px;">
            <center> You are not authorized to access this WALL.
                <br> Please Login First.</center>
        </h1>
    {% endif %}

</body>

</html>