{% extends 'home/base.html' %}
{% block content %}
    <center>
        <table border="1" class="table">
            <caption>
                <h3> Department Sys-Ads List.</h3>
            </caption>
            <tbody>
                <tr>
                    <td>
                        <center>
                            <h4>Department</h4>
                        </center>
                    </td>
                    <td>
                        <center>
                            <h4>Sysads</h4>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CSE</center>
                    </td>
                    <td>
                        <center>sysad.CSE.stf2, sysad.CSE.stf1, sysad.CSE.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CC</center>
                    </td>
                    <td>
                        <center>nitin </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>AERO</center>
                    </td>
                    <td>
                        <center>sysad.AERO.stf2, sysad.AERO.stf1, sysad.AERO.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CHE</center>
                    </td>
                    <td>
                        <center>sysad.CHE.stf2, sysad.CHE.stf1, sysad.CHE.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CHEM</center>
                    </td>
                    <td>
                        <center>sysad.CHEM.stf2, sysad.CHEM.stf1, sysad.CHEM.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CIVIL</center>
                    </td>
                    <td>
                        <center>sysad.CIVIL.stf2, sysad.CIVIL.stf1, sysad.CIVIL.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>EE</center>
                    </td>
                    <td>
                        <center>sysad.EE.stf2, sysad.EE.stf1, sysad.EE.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>HSS</center>
                    </td>
                    <td>
                        <center>sysad.HSS.stf2, sysad.HSS.stf1, sysad.HSS.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>MATH</center>
                    </td>
                    <td>
                        <center>sysad.MATH.stf2, sysad.MATH.stf1, sysad.MATH.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>ME</center>
                    </td>
                    <td>
                        <center>sysad.ME.stf2, sysad.ME.stf1, sysad.ME.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>MET</center>
                    </td>
                    <td>
                        <center>sysad.MET.stf2, sysad.MET.stf1, sysad.MET.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>PHY</center>
                    </td>
                    <td>
                        <center>sysad.PHY.stf2, sysad.PHY.stf1, sysad.PHY.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>IDC</center>
                    </td>
                    <td>
                        <center>sysad.IDC.stf2, sysad.IDC.stf1, sysad.IDC.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>ESE</center>
                    </td>
                    <td>
                        <center>sysad.ME.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CESE</center>
                    </td>
                    <td>
                        <center>sysad.CESE.stf2, sysad.CESE.stf1, sysad.CESE.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>IEOR</center>
                    </td>
                    <td>
                        <center>sysad.ME.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>RE</center>
                    </td>
                    <td>
                        <center>sysad.EE.stf2, sysad.EE.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>SCE</center>
                    </td>
                    <td>
                        <center>sysad.sce.fac, sysad.sce.stf2, sysad.sce.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>SOM</center>
                    </td>
                    <td>
                        <center>sysad.SOM.stf2, sysad.SOM.stf1, sysad.SOM.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>ACRE</center>
                    </td>
                    <td>
                        <center>sysad.ACRE.stf2, sysad.ACRE.stf1, sysad.ACRE.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>ADMIN</center>
                    </td>
                    <td>
                        <center>nitin </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CFDVS</center>
                    </td>
                    <td>
                        <center>sysad.CFDVS.stf2, sysad.CFDVS.stf1, sysad.CFDVS.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CSRE</center>
                    </td>
                    <td>
                        <center>sysad.CSRE.stf2, sysad.CSRE.stf1, sysad.CSRE.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CTARA</center>
                    </td>
                    <td>
                        <center>sysad.ME.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>GATEJEE</center>
                    </td>
                    <td>
                        <center>sysad.GATEJEE.stf2, sysad.GATEJEE.stf1, sysad.GATEJEE.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>IRCC</center>
                    </td>
                    <td>
                        <center>sysad.IRCC.stf2, sysad.IRCC.stf1, sysad.IRCC.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>GEOS</center>
                    </td>
                    <td>
                        <center>sysad.GEOS.stf2, sysad.GEOS.stf1, sysad.GEOS.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>BioSchool</center>
                    </td>
                    <td>
                        <center>sysad.BioSchool.stf2, sysad.BioSchool.stf1, sysad.BioSchool.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>ASC</center>
                    </td>
                    <td>
                        <center>sysad.ASC.stf2, sysad.ASC.stf1, sysad.ASC.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CASDE</center>
                    </td>
                    <td>
                        <center>sysad.CASDE.stf2, sysad.CASDE.stf1, sysad.CASDE.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CampusSchool</center>
                    </td>
                    <td>
                        <center>sysad.Cschool.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CDEEP</center>
                    </td>
                    <td>
                        <center>sysad.cdeep.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>SAIF</center>
                    </td>
                    <td>
                        <center>sysad.SAIF.stf2, sysad.SAIF.stf1, sysad.SAIF.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>ET</center>
                    </td>
                    <td>
                        <center>sysad.ET.stf2, sysad.ET.stf1, sysad.ET.fac </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CM</center>
                    </td>
                    <td>
                        <center>sysad.CM.stf2, sysad.CM.fac, sysad.CM.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CUSE</center>
                    </td>
                    <td>
                        <center>sysad.CUSE.stf2, sysad.CUSE.fac, sysad.CUSE.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>TCTD</center>
                    </td>
                    <td>
                        <center>sysad.TCTD.stf2, sysad.TCTD.fac, sysad.TCTD.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>WRCB</center>
                    </td>
                    <td>
                        <center>sysad.WRCB.stf2, sysad.WRCB.fac, sysad.WRCB.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>ENTRPNRSHP</center>
                    </td>
                    <td>
                        <center>sysad.ENTRPNRSHP.stf2, sysad.ENTRPNRSHP.fac, sysad.ENTRPNRSHP.stf1 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>CPS</center>
                    </td>
                    <td>
                        <center>sysad.CPS.stf2, sysad.CPS.fac, sysad.CPS.stf1 </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <p></p>
    <center>----- append
        <username>@.iitb.ac.in for e-mail id ------</username>
    </center>
    <p></p>

    <center>
        <table border="1">
            <tbody>
                <tr>
                    <td>
                        <a href={% url 'userinfo' %}>Back</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
{% endblock %}