{% extends 'home/base.html' %}
{% block content %}
    <center>
        <table border="1" class="table">
            <caption>
                <h3> Hostel Sys-Ads List.</h3>
            </caption>
            <tbody>
                <tr>
                    <td>
                        <center>
                            <h4>Hostel No.</h4>
                        </center>
                    </td>
                    <td>
                        <center>
                            <h4>Sysads</h4>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H1</center>
                    </td>
                    <td>
                        <center>sysadh01 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H2</center>
                    </td>
                    <td>
                        <center>sysadh02 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H3</center>
                    </td>
                    <td>
                        <center>sysadh03 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H4</center>
                    </td>
                    <td>
                        <center>sysadh04 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H5</center>
                    </td>
                    <td>
                        <center>sysadh05 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H6</center>
                    </td>
                    <td>
                        <center>sysadh06 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H7</center>
                    </td>
                    <td>
                        <center>sysadh07 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H8</center>
                    </td>
                    <td>
                        <center>sysadh08 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H9</center>
                    </td>
                    <td>
                        <center>sysadh09 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H10</center>
                    </td>
                    <td>
                        <center>sysadh10 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H11</center>
                    </td>
                    <td>
                        <center>sysadh11 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H12</center>
                    </td>
                    <td>
                        <center>sysadh12 </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>H13</center>
                    </td>
                    <td>
                        <center>sysadh13 </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <p></p>
    <center>----- append
        <username>@.iitb.ac.in for e-mail id ------</username>
    </center>
    <p></p>

    <center>
        <table border="1">
            <tbody>
                <tr>
                    <td>
                        <a href={% url 'userinfo' %}>Back</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
{% endblock %}